/.phpunit.cache
/bootstrap/ssr
/node_modules
/public/build
/public/hot
/public/storage
/storage/*.key
/storage/pail
/vendor
.env*
.phpactor.json
.phpunit.result.cache
Homestead.json
Homestead.yaml
npm-debug.log
yarn-error.log
/auth.json
/.fleet
/.idea
/.nova
/.vscode
/.zed
/.phpstorm.meta.php
.DS_Store
Thumbs.db
/storage/debugbar/*
/storage/framework/cache/data/*
/storage/framework/sessions/*
/storage/framework/views/*
/storage/logs/*
/storage/oauth-private.key
/storage/oauth-public.key
/public/storage/*
!/public/storage/.gitignore
/storage/app/public/*
!/storage/app/public/.gitignore
/storage/app/debugbar/*
/storage/app/pail/* 
!/storage/app/pail/.gitignore
/storage/temp/*
/storage/backups/*
/storage/imports/*
/storage/exports/*
/storage/media/*
/coverage.xml
/phpstan.neon
/phpstan-baseline.neon
/.php-cs-fixer.cache
/.env.testing
/.env.local
/.env.local.backup
/.pnpm-debug.log
/.pnpm-store
/.turbo
/.next  
/.vercel
/.vercel_build_output
/.output
/.svelte-kit
/.nuxt
/.astro